/*----------------------------*\
PALETTE COLORI:
oro: #FFD700;
nero: #242527;
\*----------------------------*/

/*----------------------------*\
            GENERAL
\*----------------------------*/

body {
    /* font-family: 'Allura', cursive; */
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
}

a {
    color: white;
}

a:hover {
    color: #FFD700;
}

p {
    text-align: justify;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-family: 'Allura', cursive;
    color: #FFD700;
}

h3 {
    text-align: center;
}

h4 {
    font-size: 2em;
    color: #FFD700;
}

h5 {
    color: #FFD700;
    padding: 0.8em 0;
    margin: 0 auto;
}

.title {
    font-family: 'Allura', cursive;
    text-align: center;
    font-size: 3em;
    padding: 1em;
    margin: 0 auto;
}

.title:after {
    content:"";
  	display:block;
  	height:0.1em;
  	width:2em;
  	background-color: #FFD700;
    margin: 0 auto;
}


/*----------------------------*\
            NAVBAR
\*----------------------------*/

#nav {
    padding: 0.5em 2em;
}

#nav .navbar-toggler {
    padding: 0;
    font-size: 1em;
}

.logo {
    width: 11em;
    position: absolute;
    margin-top: 0.5em;
    /* padding-bottom: 1em; */
    top: 0;
    left: 0;
    border-bottom-right-radius: 4em;
}

.fa-bars, .fa-times {
    color: #FFD700
}

#times {
    display: none;
}

#bar {
    display: inline-block;
}

.scroll {
    background-color: #242527;
    /* box-shadow: 0px 2px 2px #FFD700; */
}

.scroll a {
    color: #FFF;
}

.scroll a:hover {
    color: #FFD700;
}

.nav-link.active {
    color: #FFD700;
}

.nav-link.active:after {
    content:"";
  	display:block;
  	height:0.1em;
  	background-color: #FFD700;
}

.progress {
    position: fixed;
}


/*----------------------------*\
              HOME
\*----------------------------*/

#home {
    height: 100vh;
    color: #FFF;
}

/* .home {
    background-color: #242527;
    padding: 0;
} */

.home-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background: #242527;
}

.bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-home{
    background-image: url('../img/background.jpeg');
}


/*----------------------------*\
              ABOUT
\*----------------------------*/

#about {
    padding: 3em 6em;
    /* background-color: #242527; */
    /* color: white; */
}

.red {
    color: #FFD700 !important;
    margin: 0 auto;
    padding: 0.5em 0;
    font-size: 1.2em;
}

.dx {
    margin-right: 0;
}


/*----------------------------*\
            Gallery
\*----------------------------*/

#gallery {
    padding: 3em 5em;
    background-color: #242527;
    color: white;
}

.btn-selection {
    text-align: center;
}

.btn {
    margin-bottom: 2em;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.08);
    box-shadow: 0 3px 5px rgba(0,0,0,.125);
}

.tz-gallery {
    padding: 0.5em;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 2em;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

/*----------------------------*\
            Contact
\*----------------------------*/

.bg-img2 {
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-contact{
    background-image: url('../img/building.jpg');
}

#contact {
    padding: 3em 6em;
}

#contact a {
    color: #1A0DAB;
}

#contact p {
    text-align: center;
}

#contact h4{
    text-align: center;
    margin-top: 3em;
}

#contact .fas {
    color: #FFD700;
    width: 100%;
    text-align: center;
    text-shadow: 0px 4px 2px #8080807A;  
    margin:1em 0; 
}


/*----------------------------*\
          Back to top
\*----------------------------*/

#back-to-top {
  	display: none;
  	position: fixed;
  	bottom: 1em;
  	right: 1em;
  	z-index: 9998;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  	cursor: pointer;
}

#back-to-top:hover {
    opacity: 0.8;
}

#back-to-top a {
    text-decoration: none;
}


/*----------------------------*\
            Footer
\*----------------------------*/

#footer {
    position: relative;
    margin-top: 1em;
    padding: 1em 4em;
    background-color: #242527;
}

#footer p {
    text-align: center;
    font-size: 1em;
    margin: 1em 0;
    color: white;
}

#footer .fab, .fas {
    width: auto;
    margin: 0 0.5em 0.5em 0.5em;
    color: #FFD700;
    text-shadow: none;
}

.social {
    width: 100%;
    margin: 0 0 1em 0; 
    text-align: center;
}

